@model List<LoanManagementSystem.Models.Lead>
@{
    ViewData["Title"] = "Calling Dashboard";
}

<h3>📞 Assigned Leads</h3>
<hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Lead ID</th>
            <th>Customer</th>
            <th>Loan Amount</th>
            <th>Status</th>
            <th>Actions</th>
            <th>Rejected Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lead in Model)
        {
            <tr>
                <td>LMS-@lead.LeadId.ToString("D4")</td>
                <td>@lead.Customer.FullName</td>
                <td>₹@lead.LoanAmount.ToString("N0")</td>
                <td>@lead.Status</td>
                <td>
                    <a href="/Calling/UploadDocuments/@lead.LeadId" class="btn btn-sm btn-primary">Upload Docs</a>
                    <a href="/Lead/Details/@lead.LeadId" class="btn btn-sm btn-outline-secondary">Details</a>
                </td>
                <td>
                    @* <a href="/Calling/UploadDocuments/@lead.LeadId" class="btn btn-sm btn-primary">Upload Docs</a> *@

                    @if (lead.Documents?.Any(d => d.Status == "rejected") == true)
                    {
                        <a asp-controller="Calling" asp-action="ViewRejectedDocs" asp-route-leadId="@lead.LeadId"
                            class="btn btn-sm btn-warning">
                            Re-upload
                        </a>

                    }

                    <a href="/Lead/Details/@lead.LeadId" class="btn btn-sm btn-outline-secondary">Details</a>
                </td>

            </tr>
        }
    </tbody>
</table>
